<!DOCTYPE html>
<html>
    <head>
        <title>
            RGB Guessing game
        </title>
        <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
    </head>
    <body>
        <h1 >The biggest 
            <br>
            <span id="rgb">RGB</span>
            </br>
             color game
        </h1>
        <div class="change">
            <button id="reset">New Color</button>
            <span id="message"></span>
            <button id="easybtn">Easy</button>
            <button id="hardbtn">Hard</button>
        </div>
        <div id="container">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>
    
    <script src="javascript/index.js"></script>
    </body>
</html>